@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #272829;
    --primary-grad-color: linear-gradient(to left,#272829,#3C4048);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* Start Header Section */

/* Start Header Intro */
.headerintros {
    display: none;
    padding: 15px 0;
    color: #fff;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
}

.headericons a{
    color: #fff;
    margin: 0 10px;
}

@media (min-width: 1200px) {
    .visiblelgs {
        display: block;
    }
}
/* End Header Intro */

.headers {
    height: 80vh;
    /* background: var(--primary-grad-color); */
    position: relative;
}

/* Start Nav Bar */
.menustyles li {
    font-size: 13px;
    letter-spacing: 1.5px;
}
/* End Nav Bar */

/* Start Banner */
.banners {
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

.bannerheaders {
    font-weight: bold;
    letter-spacing: 3px;
    animation-name: bnanis;
    animation-duration: 2s;
}
.bannerparagraphs,.banner-btn {
    animation-name: bnanis;
    animation-duration: 2s;
    animation-delay: .5s;

    animation-fill-mode: backwards;
}

@keyframes bnanis {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* End Banner */

.studentsgroup {
    width: 35%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* End Header Section */

/* Start Students Counter Section */
.counters {
    width: 100%;
    height: 20vh;
    font-weight: bold;
    letter-spacing: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.counteritems {
    float: left;
    width: 25%;
    text-align: center;
}

.counteritems .fa-solid {
    background: var(--primary-grad-color);
    color: transparent;
    -webkit-background-clip: text;

}

.counteritems h5 {
    font-size: 15px;
    font-weight: bold;
}
/* End Students Counter Section */

/* Start About Us Section */
.student2 {
    width: 100%;
}
/* .aboutus ul li {
    list-style-type: none;
    margin: 20px 0;
} */
/* End About Us Section */


/* Start Teachers Section */
.flip-cards {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    
}

.flip-cards img {
    width: 100%;
}

.flip-card-inners {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.flip-cards:hover .flip-card-inners {
    transform: rotateY(180deg);
}

.flip-card-fronts,.flip-card-backs {
    width: 100%;
    height: 100%;

    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-backs {
    transform: rotateY(180deg);
}

.socialicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* End Teachers Section */

/* Start Location Section */
.libcards img {
    width: 100%;
    height: 200px;
}

.libcards {
    perspective: 1000px;
    position: relative;
    /* overflow: hidden; */
}

.libcontents {
    /* display: none; */
    width: 0;
    opacity: 0;
    height: 100%;

    background-color: #272829;
    color: #fff;

    position: absolute;
    left: 0;
    top: 0;

    transform: rotateY(-90deg);
    transform-origin: left center;
    transition: all .3s;
}

.libcards:hover .libcontents {
    opacity: 1;
    width: 70%;
    transform: rotateY(0deg);
}
/* End Location Section */

/* Start Feature Section */
.feas img {
    transform: rotateY(0) scale(0.5);
    transition: transform .7s;
}

.feas:hover img {
    transform: rotateY(1turn) scale(1);
}

.feas p {
    font-size: 12px;
}
/* End Feature Section */